.favoritos-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.favoritos-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.favoritos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;

}

